.pagination {
    &__container {
        width: 100%;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 5px;

        .bttn {
            width: 50px;
        }
        .disabled {
            background-color: #20232a;
            color: #404550;
            cursor: not-allowed;
        }

        .arrow {
            border: solid;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
        }

        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }


        li {
            min-width: 40px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: hsl(222, 14%, 10%);
            border-radius: 4px;
            color: white;
            margin: 5px;
            font-size: 14px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .selected {
            background-color: #61dafb;
            color: black;
            font-weight: bold;
        }
    }
}